:root{
    --primary-colour: black;
}

header{
    display: flex;
    justify-content:space-between;
    padding: 1rem;
    background-color: #f3f3f3;
}

header a{
    margin-left: 2rem;
    text-decoration: none;
    color: #666;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color .6s ease;
}

header a:hover{
    color: var(--primary-colour);
}

#search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: black;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

#cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#detailContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin: 2rem;
}

.pictureBox{
    
}

.detailBox{
    
}

.card{
    background-color: lightgray;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.card_content{
    padding:1rem;
    text-align: center;
}

.btn{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    width: 100%;
}

.btn:hover{
    background-color: lightblue;
}

.loginContainer, .signupContainer {
    margin-left: 30%;
    margin-top: 10%;
}

h1 {
    text-align: center;
    margin-left: 30%;
}

